mixin designer(name = 'Steven', text)
	section.designer 
		.container.designer__container 
			.designer__content
				h3.designer__subtitle Welcome To My PortFolio
				h2.designer__title Hi , I am #{name} UI/UX 
					span.designer__title_highlight designer 
				p.designer__text #{text}
				.designer__buttons
					button.designer__button Hire Me
					button.designer__button My Project		
			img.designer__photo(src="../../components/designer/steven.png", alt=`photo ${name}`)
