.designer
	background-color: $colorBackgroundHeader

	&__container
		padding: 190px 80px		

		display: grid
		grid-template-columns: 40% 1fr
		gap: clamp(40px, 4vw, 80px)

	&__subtitle
		font-weight: 400
		font-size: clamp(20px, 4vw, 30px)
		line-height: 45px
		color: $colorTitle

	&__title
		margin-top: 5px
	
		font-weight: 700
		font-size: clamp(30px, 5vw, 48px)
		line-height: clamp(50px, 7vw, 72px)
		color: $colorTitle

		&_highlight
			color: $colorTitleHighlight

	&__text
		margin-top: 20px

		font-weight: 400
		font-size: clamp(16px, 4vw, 24px)
		line-height: 36px
		color: $colorText

	&__buttons
		margin-top: 90px

		display: flex
		justify-content: space-between

	&__button
		width: clamp(150px, 15vw, 246px)
		height: 72px
		cursor: pointer

		border: 2px solid $colorTitle
		box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25)
		border-radius: 10px

		text-align: center
		font-weight: 400
		font-size: 24px
		line-height: 36px
		color: $colorTitle
		transition: .6s .2s

		&:focus
			background: $colorTitle			
			color: $colorHoverText			

		&:hover
			background: $colorTitle			
			color: $colorHoverText

	&__photo
		filter: drop-shadow(36px -32px 0px rgba(135, 117, 249, 0.5))
		border-radius: 0px 0px 0px 191px

@import ./designer-media