extends ./components/head
include ./components/header/header.pug
include ./components/designer/designer.pug
include ./components/about/about.pug
include ./components/project/project.pug
include ./components/contact/contact.pug

block content 
	
	- headerArr = ['About Me', 'Projects', 'Contacts', 'Hire Me']
	+header('UniDesign', headerArr)
	
	main 
		- designerText = 'Lorem Ipsum dolar sit amet, consectetur adipicsing elit. Locus odio et, plateo erat est sed turpis hoc equit'
		+designer('Steven', designerText)

		- aboutText = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry`s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has .'
		+about('About Me', aboutText, 'Hire Me')

		-	projectText = 'Lorem Ipsum is simply dummy text of the printing'
		- projectArr = ['car', 'car','car', 'girl', 'girl', 'girl', 'black', 'black', 'black']
		+project('My Projects', projectText, projectArr)

		- contactText = 'Lorem Ipsum is simply dummy text of the printing'
		+contact('Contact Me', contactText)