extends ./components/head
include ./components/header/header.pug
include ./components/designer/designer.pug

block content 
	
	- headerArr = ['About Me', 'Projects', 'Contacts', 'Hire Me']
	+header('UniDesign', headerArr)
	
	main 
		- designerText = 'Lorem Ipsum dolar sit amet, consectetur adipicsing elit. Locus odio et, plateo erat est sed turpis hoc equit'
		+designer('Steven', designerText)

