mixin project(title, text, arr) 
	.project-block
	
	section.project#Projects
		.container.project__container
			h2.project__title #{title}
			p.project__text #{text}
			ul.project__list
				each item in arr 
					li.project__list-item 
						a.project__list-link(href="#")
							if(item === 'car')
								img.project__list-image(src="./components/project/car.png", alt="car", loading="lazy") 
							if(item === 'girl')
								img.project__list-image(src="./components/project/girl.png", alt="girl", loading="lazy") 							
							if(item === 'black')
								img.project__list-image(src="./components/project/black.png", alt="black", loading="lazy")
		.project__lightbox
			<span class="project__lightbox-left">&#8249;</span>
			img.project__lightbox-image(src="", alt="project")
			<span class="project__lightbox-right">&#8250;</span>