mixin footer(title)
	.footer-block
	footer.footer 
		.container.footer__container 
			.footer__contact
				h3.footer__contact-title #{title}
				.footer__contact-block
					input.footer__contact-input(type="text" placeholder='Email')
					button.footer__contact-button Subscribe
			
			.footer__content
				div.footer__content-block
					b.footer__content-heading Platform
					ul.footer__list
						li.footer__list-item
							a(href="#") Home
						li.footer__list-item
							a(href="#") Overview
						li.footer__list-item
							a(href="#") Pricing
						li.footer__list-item
							a(href="#") About
				div.footer__content-block
					b.footer__content-heading Help
					ul.footer__list
						li.footer__list-item
							a(href="#") How It Works?
						li.footer__list-item
							a(href="#") Pay?
						li.footer__list-item
							a(href="#") Question?
						li.footer__list-item
							a(href="#") Contact?
				div.footer__content-block
					b.footer__content-heading Contact
					ul.footer__list 
						li.footer__list-item 
							a(href="tel:+000-1234-6789") (+000) 1234-6789
						li.footer__list-item 116 Archlor Road Broadlaband, NewYork (NYC) 1205
			
			.footer__social
				p.footer__social-text CopyRighted 2020-2023   All Rights Reserved.
				ul.footer__social-list
					li.footer__social-item
						a.footer__social-link(href="#") 
							img(src="./components/footer/youtube.svg", alt="icon youtube")
					li.footer__social-item
						a.footer__social-link(href="#")
							img(src="./components/footer/instagram.svg", alt="icon instagram")
					li.footer__social-item
						a.footer__social-link(href="#")
							img(src="./components/footer/facebook.svg", alt="icon facebook")
					li.footer__social-item
						a.footer__social-link(href="#")
							img(src="./components/footer/linkedin.svg", alt="icon linkedin") 

