mixin contact(title, text)
	.contact-block

	section.contact
		.container.contact__container 

			h2.contact__title #{title}
			p.contact__text #{text}

			.contact__content
				form.form(action="#" method='get')
					input.form__input(type="text" placeholder='Email')
					input.form__input(type="text" placeholder='Password')
					textarea.form__area(name="text", rows="5" cols='5', placeholder="Message..", maxlength = "130")
					button.form__button Contact