.about
	background-color: $colorBackgroundAbout

	&__container
		display: grid
		grid-template-columns: 40% 60%

	&__content
		padding: 205px 45px

	&__title
		font-weight: 700
		font-size: 48px
		line-height: 72px
		letter-spacing: 0.35em
		color: $colorTitle

	&__text
		margin-top: 15px
		width: 415px

		font-weight: 400
		font-size: 24px
		line-height: 36px
		color: $colorText

	&__button
		margin: 30px 0 0 30px
		padding: 20px 0 20px 0
		cursor: pointer
		width: clamp(200px, 18vw, 246px)

		background: inherit
		border: 2px solid $colorTitle
		box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25)
		border-radius: 10px

		text-align: center
		font-weight: 400
		font-size: 24px
		line-height: 36px
		color: $colorTitle

		&:hover
			transition: background 1s ease-out
			background: $colorTitle
			color: $colorHoverText

	&__image
		background: url('../../components/about/man glasses.png') center no-repeat